* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif, monospace;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }
  
  .all {
    display: flex;
    justify-content: space-between; /* Spread elements */
    align-items: center;
    padding: 15px 8%;
    background-color: #ecfdff;
    font-size: 16px;
  }
  
  .all ul {
    padding: 10px 30px;
    border-radius: 30px;
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.1);
  }
  
  .all ul li {
    display: inline-block;
    padding: 5px 10px;
    margin: 0 10px;
    color: #000;
  }
  
  .all img {
    width: 50px;
    height: 50px;
  }
  
  .button {
    padding: 8px 16px;
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .button:hover {
    background-color: #0056b3;

  }
  .button:active{
    border-radius: 50%;
    transition: 0;

  }
  .title{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;


  }