*::before,*::after{
    box-sizing: border-box;
}
body{
    margin: 0;
}
.carousel{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
}
.carousel > ul{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    transition: transform 0.5s ease-in-out;
    height: 100%; 
    background-color: black;

}
.slider1{
    position: absolute;
    inset: 0;
    opacity: 0;
    transition: opacity 0.7s ease-in-out;
    
}


ul[data-slides] {
    display: flex;
    transition: transform 0.5s ease-in-out; 
    list-style: none;
    padding: 0;
    margin: 0;
  }
.slider1 > img{
    padding-top: 80px;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.slider1[data-active]
{
    opacity: 1;
}
.carousel button{
    z-index: 2;
    position: absolute;
    background: none;
    border: none;
    font-size: 4rem;
    top:50%;
    transform: translateY(-50%);
    color:rgba(255,255,255,.5);
    cursor: pointer;
    border-radius: .25rem;
    padding: 0 .5rem;
    background-color: rgba(0,0,0, .3);

}
.carousel button:hover{
    color: rgb(255, 255, 255);
    background-color: rgba(0,0,0, .4);
}
.carousel button:focus{
    outline: 1px solid rgb(0, 0, 0);
}
.button1n{
    left: 1rem;
}
.button2n{
    right: 1rem;
}
.carousal-all{
    background-color: black;
}
.slide-text {
    position: absolute; 
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%); 
    color: white; 
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5); 
    padding: 20px;
    border-radius: 10px; 
  }
  
  .slide-text h1 {
    margin: 0;
    font-size: 2.8rem;
    color: orangered;
  }
  
  .slide-text p {
    margin: 0;
    font-size: 1.6rem; 
  }
  