
.all1 img{
    width: 339.7px;
    height: 280px;
    border-radius: 6px;
    object-fit: cover;
    background-color: rgb(0, 0, 0);

}
.all1 p{
    line-height: 30px;
    font-size: 19px;
    font-family: monospace,sans-serif;

}
.items1{
   
    background-color: rgb(226, 251, 253);
    transition: 0.5s;
    height: 470px;
    width: 343px;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 6px;
    border: 2px solid rgb(0, 0, 0);
   

   
}
.items1:hover{
    transform: scale(1.1);
    border: 2px solid  rgb(0, 19, 164);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.items1 p{
    padding-left: 4px;
}

.total{
    display: flex;
    flex-direction: row;
    align-items: center;
     justify-content: center; 
    flex-wrap:wrap ;
    gap: 50px;
    transition: 0.5s;
    padding: 40px;
 
}
/* .tital
{
    display: grid;
    margin: 20px 170px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 80px;
} */
.bp
{
    width: 90%;
    height: 275px;
    object-fit: cover;

}